@headerHeight: 8vh;
@mainHeight: 88vh;
@footerHeight: 4vh;
@pokemonBorderColor:#4d2a2a;
@grass:#54f638;
@poison:#8d3a7f;
@fire:#ff641c;
@water:#406bf8;
@flying: #b0c1fb;
@bug: #a4ec51;
@normal: #ffffff;
@rock: #9c6c3c;
@ground: #e6835c;
@electric: #f9f041;  
@fairy:#ff61da;
@fighting:#ef2d2d;
@psychic:#e65bff;
@ice:#31d5ee;
@steel:#dccece;
@ghost:#d695ff;
@dragon:#4287ff;
@dark:#222;